@layer components {
  .register-box,
  .login-box {
    background-color: var(--primary-background);
    color: var(--primary-text);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 400px;
  }
  .input-box {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
  }

  .stat-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    margin: 2rem auto 0 auto;
    gap: 2rem;
    min-height: 100vh;
  }

  .spotify-stats,
  .steam-stats {
    background-color: var(--primary-background);
    color: var(--primary-text);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 0;
    width: 80%;
    min-height: 650px;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  @media (min-width: 1280px) {
    .stat-content {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
    .spotify-stats,
    .steam-stats {
      width: 40%;
      max-height: 80vh;
    }
  }

  .spotify-connect {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spotify-warning-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9998;
    pointer-events: all;
  }

  .spotify-data-warning {
    background-color: var(--primary-background);
    color: var(--primary-text);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    min-width: 300px;
    max-width: 600px;
    width: 90%;
    text-align: left;
    z-index: 9999;
  }

  .spotify-warning-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .spotify-warning-button,
  .spotify-warning-button-cancel {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
  }

  .spotify-warning-button {
    background: #1db954;
    color: white;
  }

  .spotify-warning-button-cancel {
    background: #ccc;
    color: black;
  }

}