@layer components {
    .btn-primary {
        width: 100%;
        height: 3rem;
        background-color: var(--primary-foreground);
        color: var(--primary-text);
        font-weight: bold;
        border-radius: 0.375rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.15s ease;

        &:hover {
            background-color: #141414;
        }
    }

    .spotify-time-range-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .time-range-button {
        cursor: pointer;
        border-bottom: 2px solid;
        width: 33.33%;
        text-align: center;
        transition: border-color 0.15s ease;
    }

    .time-range-button:hover {
        border-color: #3B82F6;
    }

    .spotify-button {
        background-color: var(--primary-foreground);
        border-radius: 0.375rem;
        color: var(--primary-text);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.15s ease;
    
        &:hover {
            background-color: #141414;
        }
    }

    .top-section-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .stats-switch-button {
        background-color: var(--primary-foreground);
        border-radius: 0.375rem;
        color: var(--primary-text);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.1s ease;
    
        &:hover {
            background-color: #141414;
        }
    }

    .delete-button {
        background-color: #DC2626;
        border-radius: 0.375rem;
        box-shadow: 0 4px 6px rgba(220, 38, 38, 0.3);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.1s ease;
    
        &:hover {
            background-color: #B91C1C;
        }
    }
}