html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

@layer components {
    .background {
        display: flex;
        background-color: var(--app-background);
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
    }
}