html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--app-background)
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--app-background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-foreground);
  border-radius: 6px;
}

@layer components {
  .background {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
  }

  .artists-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .artist-card {
    text-align: center;
  }

  .artist-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
  }

  .artist-name {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .song-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }

  .song-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .song-name,
  .song-artist {
    margin: 0;
  }

  .song-name {
    width: 200px; /* adjust as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

  }

  .song-artist {
    color: #666;
  }

  /* Tiny image */
  .song-image {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 4px;
  }

  .steam-user-info-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    gap: 20px;
  }

  .steam-avatar {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
  }

  .steam-info-columns,
  .steam-stats-columns {
    display: flex;
    justify-content: space-between;
    flex: 1;
  }

  .steam-info-values p,
  .steam-stats-values p {
    text-align: right;
  }

  .steam-info-labels p,
  .steam-stats-labels p {
    font-weight: bold;
  }

  .steam-stats-columns {
    margin-top: 10px;
  }

  .steam-stats-labels p,
  .steam-stats-values p {
    margin-bottom: 5px;
  }

  .game-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
  }

  .game-index-icon {
    display: flex;
    align-items: center;
    gap: 5px; /* Space between index and icon */
  }

  .game-icon {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 2px;
  }

  .game-name {
    flex: 1; /* Take up remaining space */
    margin-left: 15px; /* Add spacing between the name and the index/icon */
    font-weight: bold;
  }

  .game-details {
    text-align: right;
    font-size: 0.9rem;
    color: #666;
  }

}