html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--app-background)
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--app-background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-foreground);
  border-radius: 6px;
}

@layer components {
  .background {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
  }

  .artists-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .artist-card {
    text-align: center;
  }

  .artist-image {
    width: 100%;
    aspect-ratio: 1/1; /* makes all images square */
    object-fit: cover;
    border-radius: 10px;
  }

  .artist-name {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: 600;
  }
}