html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--app-background)
}

::-webkit-scrollbar {
  width: 6px;
  background: var(--app-background);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-foreground);
  border-radius: 6px;
}

@layer components {
    .background {
      display: flex;
      min-height: 100vh;
      align-items: center;
      justify-content: center;
  }
}