@layer components {
    .navbar {
        background-color: var(--primary-background);
        color: var(--primary-text);
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 2px rgba(119, 119, 119, 0.123);
        position: sticky;
        top: 0;
        z-index: 1000;
    }
}