<div class="spotify-time-range-buttons">
    <button data-target="artist_last_year" class="time-range-button border-blue-500">Last Year</button>
    <button data-target="artist_6_months" class="time-range-button">Last 6 Months</button>
    <button data-target="artist_4_weeks" class="time-range-button">Last 4 Weeks</button>
</div>

<div id="top-artists">
    <div id="artist_last_year" class="tab-content">
        <%= render 'top_artists', artists: @top_artists_last_year %>
    </div>

    <div id="artist_6_months" class="tab-content" style="display:none;">
        <%= render 'top_artists', artists: @top_artists_last_6_months %>
    </div>

    <div id="artist_4_weeks" class="tab-content" style="display:none;">
        <%= render 'top_artists', artists: @top_artists_last_4_weeks %>
    </div>
</div>

<script>
    document.querySelectorAll('.time-range-button').forEach(btn => {
        btn.addEventListener('click', function() {
        document.querySelectorAll('.time-range-button').forEach(b => b.classList.remove('border-blue-500'));
        this.classList.add('border-blue-500');

        const target = this.dataset.target;
        document.querySelectorAll('.tab-content').forEach(div => div.style.display = 'none');
        document.getElementById(`${target}`).style.display = 'block';
        });
    });
</script>