<%= render 'shared/navbar' %>
<div class="stat-content">
    <div class="spotify-stats">
        <%= link_to "Login with Spotify", spotify_auth_path, class: "btn-primary" %>
    </div>
    <div class="steam-stats">
        aa aa aa
    </div>
</div>