<%= render 'shared/navbar' %>
<div class="stat-content">
    <div class="spotify-stats">
        <% if current_user.spotify_user.blank? %>
            <div class="spotify-connect">
                <button class="spotify-button">
                    Sign in with Spotify
                </button>
            </div>
            <div class="spotify-warning-overlay">
                <div class="spotify-data-warning">
                    <p>
                    If you click "OK" you are agreeing that SpotSteam will access your spotify data and save it in our database for other users to see.
                    You will be able to delete your spotify data from our database at any time from account settings.
                    </p>

                    <div class="spotify-warning-buttons">
                    <button class="spotify-warning-button-cancel">Cancel</button>
                    <button class="spotify-warning-button">OK</button>
                    </div>
                </div>
            </div>
        <% else %>
            <div class="top-section-buttons">
                <button id="top-artist-button" class="stats-switch-button">Top Artists</button>
                <button id="top-song-button" class="stats-switch-button">Top Songs</button>
            </div>
            <div class="top-songs-section">
                <%= render 'top_song_section' %>
            </div>
            <div class="top-artists-section" style="display:none;">
                <%= render 'top_artist_section' %>
            </div>
        <% end %>
    </div>
    <div class="steam-stats">
        <h2>Steam Stats Coming Soon!</h2>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener("turbo:load", () => {
        const overlay = document.querySelector(".spotify-warning-overlay");
        const openBtn = document.querySelector(".spotify-button");
        const cancelBtn = document.querySelector(".spotify-warning-button-cancel");
        const okBtn = document.querySelector(".spotify-warning-button");

        openBtn.addEventListener("click", () => {
            overlay.style.display = "flex";
        });

        cancelBtn.addEventListener("click", () => {
            overlay.style.display = "none";
        });

        okBtn.addEventListener("click", () => {
            window.location.href = "/auth/spotify";
        });
    });

    document.addEventListener("turbo:load", () => {
        const artistSection = document.querySelector(".top-artists-section");
        const songSection = document.querySelector(".top-songs-section");
        const artistButton = document.getElementById("top-artist-button");
        const songButton = document.getElementById("top-song-button");

        artistButton.addEventListener("click", () => {
            artistSection.style.display = "block";
            songSection.style.display = "none";
        });

        songButton.addEventListener("click", () => {
            songSection.style.display = "block";
            artistSection.style.display = "none";
        });

    });
    
</script>
